/*CSS layout VER.2 for CIS162
Author:Y, Rithya
Last updated: 2022/07/21
*/

/*html, body, and div*/

body{
    background-color: #faead6;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 960px;
    min-width: 640px;
}
.flex-container{
    display: flex;
}
.flex-child{
    flex: 1;
    border: 2px solid #faead6;
}
.flex-child:first-child{
    margin-right: 20px;
}


/*Structural Style*/
header, main, nav, section, footer{
    display: block;
}

dt{
    margin-top: 10px;
}
/*headers*/
h1{
    text-align: center;
    text-decoration: overline underline;
}
h2{
    text-align: center;
    text-decoration: overline;
}

/*Navigaton*/
nav#a{
    display: block;
    text-align: center;
    float: inherit;
    padding: 10px;
    text-decoration: overline;
}

/*Div and classes*/
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*Footer*/
footer{
    text-align: center;
    padding: 10px;
    background-color: dimgray;
    color: white;
}
